*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
}

a {
  color: #918E9B;
  font-weight: 200;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #686767;
  text-decoration: underline;
}

header {
  background-color: #66d6ea;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.header-img {
  margin-right: .5em;
}

main {
  padding: 3em 2em;
}

.container {
  max-width: 700px;
  margin: 1em auto;
  display: flex;
  padding: 1em 0;
}

.container:not(:last-child) {
  border-bottom: 1px solid #f5f5f5;
}

.destination-img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1.5em;
}

@media (max-width: 520px) {
  .location-div a {
    display: block;
  }

  .destination-img {
    margin-top: 4em;
  }
}

.location-div img {
  margin-right: 5px;
}

.country-span {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 5px;
}

.destination-title {
  font-size: 1.5625rem;
  margin-top: 0;
  margin-bottom: .5em;
}

.trip-duration {
  font-weight: 700;
}