*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #66d6ea;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.header-img {
  margin-right: .5em;
}